---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'skolar','Droid Serif',serif;
$base-font-size:   1.8em;
$small-font-size:  14px;
$large-font-size: 18px;
$base-line-height: 1.5;
$header-font: "ff-meta-web-pro",Helvetica,sans-serif;

$spacing-unit:     30px;

$text-color:       #202020;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$blue-color-dark: #2B3A42;
$blue-color-light: #337ab7;
$white-color-off: #f2f2f2;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
