<footer class="site-footer">

  <div class="footer-wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <figure class="image-left">
            <img class="avatar" src="{{ site.baseurl }}/images/{{ site.author.avatar }}" height="120" width="120"/>
          </figure>
          <p class="text">I am a historian at Stanford University. I'm affiliated with the <a href="http://cesta.stanford.org">Center for Spatial and Textual Analysis</a> and <a href="https://library.stanford.edu/research/center-interdisciplinary-digital-research-cidr">Center for Interidsciplinary Digital Research</a>.</p>

          <form method="get" action="http://duckduckgo.com/">
            <input type="search" name="q" maxlength="255" placeholder="Search">
            <input type="hidden" names="sites" value="notebook.jasonheppler.org">
            <input type="hidden" name="k7" value="#faf8f8">
            <input type="hidden" name="kj" value="#b33">
            <input type="hidden" name="ky" value="#fafafa">
            <input type="hidden" name="kx" value="b">
            <input type="hidden" name="ko" value="-1">
            <input type="hidden" name="k1" value="-1">
            <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;">
          </form>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          <li>
            <i class="fa fa-globe"></i> <a href="{{ site.author.homeurl }}">jasonheppler.org</a>
          </li>
          {% if site.author.github_username %}
          <li>
              <i class="fa fa-github-square"></i> <a href="https://github.com/{{ site.author.github_username }}"><span class="username">{{ site.author.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.author.twitter_username %}
          <li>
              <i class="fa fa-twitter-square"></i> <a href="https://twitter.com/{{ site.author.twitter_username }}"><span class="username">{{ site.author.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        Jason Heppler<br/>
        <ul class="social-media-list">
          <li><i class="fa fa-university"></i> Department of History, Building 200, 450 Serra Mall, Stanford University</li>
          <li><i class="fa fa-envelope"></i> <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
