---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

<p class="text-info">
    <table class="table table-condensed" id="post-info">
      <tr class="info">
        <td><small><i class="glyphicon glyphicon-calendar"></i>&nbsp;Modified: 
            {{ page.path | prepend:'source/_posts/' | git_modified | date_to_string }}</small></td>
        <td><small><i class="fa fa-github-square"></i>&nbsp;<a 
              href="https://github.com/{{site.author.github_username}}/{{ 
              site.repo }}/commits/master/{{ page.path }}">History</a></small></td>
        <td><small><a href="javascript:window.print()"><i class="glyphicon glyphicon-print"></i>&nbsp;Print</a></small></td>
        <td><small><a href="{{ page.url | prepend: site.baseurl }}"><i class="glyphicon glyphicon-link"></i>Permalink</a></small></td>
      </tr>
    </table>
    </p>
