body { 
  padding-top: 80px; 
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.428;
  color: rgb(72, 72, 86);
}
@media screen and (max-width: 768px) {
    body { padding-top: 80px; 
    }
}

/* Bootstrap customization */

a {
  color: rgb(0, 122, 255);
  text-decoration: none;
}

a:hover, a:visited {
  color: rgb(0, 122, 255);
  text-decoration: none;
}

p {
  font-size: 15px;
  line-height: 24px;
}

/* Tables */
table {
  max-width: 100%;
  width: 100%;
  empty-cells: show; }

table caption {
  text-transform: uppercase;
  padding: 0;
  color: #000;
  font-size: 11px;
  font-weight: bold; }

table th,
table td {
  font-size: 94%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  padding: 5px; }

table th:first-child,
table td:first-child {
  padding-left: 0; }

table th:last-child,
table td:last-child {
  padding-right: 0; }

table tfoot th,
table tfoot td {
  color: rgba(0, 0, 0, 0.5); }

table.table-stripped td:first-child,
table.table-stripped th:first-child {
  padding-left: 16px; }

table.table-stripped td:last-child,
table.table-stripped th:last-child {
  padding-right: 16px; }

table.table-stripped tbody tr:nth-child(odd) td {
  background: #f8f8f8; }

tr.info {
  color: white; }

tr.info a,
tr.info a:visited {
  color: white; }

/* Navbar
*/
.navbar-default {
  background-color: white;
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: rgb(0, 122, 255);
  border: none;
}
.navbar-default .navbar-brand:hover {
  color: rgb(0, 122, 255);
  border: none;
}
.navbar-default .navbar-nav li > a {
  color: rgb(72, 72, 86);
}
.navbar-default .navbar-nav > li > a:hover {
  color: rgb(72, 72, 86);
}

/* Headers
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  letter-spacing: 0.008em;
  font-weight: 700;
  color: rgb(72, 72, 86);
}

/* Figures */
article img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.caption {
  font-size: .8em;
  font-style: italic;
}

/* Definition lists (homepage)
------------------------------------------- */
.dl-horizontal dt{
  text-align: left;
  width: auto;
  padding-right: 1em;
}

.dl-horizontal dd{
  margin-left: 100px;
}
