/* =Resets
-----------------------------------------------------------------------------*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/* =General Typography
-----------------------------------------------------------------------------*/
html {
  font-size: 62.5%;
}
body {
  font-family: $base-font-family;
  font-size: $font-size-base;
  line-height: 24px;
  background: $background-color;
  color: $text-color;
}

figcaption {
  margin: .3rem 0;
  font-size: 86%;
  font-style: italic;
}

ins,
u {
  text-decoration: underline;
}

mark {
  background-color: #FAF4C1;
  color: #202020;
  text-decoration: none;
}
cite {
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}
s,
del {
  text-decoration: line-through;
}

/* =Headings
-----------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font-family: $header-font;
  letter-spacing: 0.049em;
  font-weight: 300;
}
h1{ font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; color: rgb(236, 93, 87); }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/* =Images
-----------------------------------------------------------------------------*/
img {
    max-width: 100%;
    vertical-align: middle;
}

.image-left {
    float: left;
    margin: 0 1em 1em 0;
}

.avatar {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
}

/* =Figures
-----------------------------------------------------------------------------*/
figure > img {
    display: block;
}

figcaption {
    font-size: $font-size-small;
}

/* =Lists
-----------------------------------------------------------------------------*/
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

ul.tags {
  list-style-type: none;
  margin: 0;
  paddin: 0;
}

ul.tags li {
  margin-bottom: .7rem;
  margin-top: .7rem;
  display: inline;
  padding: 0 4px;
  background: #eee;
}

span.date {
  padding-left: 1rem;
  font-size: .8rem;
}

.tag-page ul {
  list-style-type: none;
  margin: 0;
}

.tag-page h4 a,
.tag-page h4 a:visited {
  color: black;
}

/* =Links
-----------------------------------------------------------------------------*/
a {
  color: $blue-color-light;
  border-bottom: 1px solid transparent;
  transition: all .25s;
  text-decoration: none;
}
a:focus,
a:hover {
  color: $blue-color-dark;
  border-bottom-color: #666666;
}

/* =Quotes
-----------------------------------------------------------------------------*/
blockquote {
  font-size: 100%;
  line-height: 28px;
  padding-left: 24px;
  font-style: italic;
  opacity: .7;
  quotes: "“" "”";
  border-left: 5px solid $blue-color-dark;
}
blockquote cite {
  font-size: 86%;
  font-weight: normal;
  line-height: 20px;
}

/* =Code
-----------------------------------------------------------------------------*/
pre,
code,
kbd,
samp,
var,
output {
  font-size: 90%;
  font-style: normal;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
}
pre {
  font-size: 12px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  background: rgba(0, 0, 0, 0.03);
  padding: 24px;
  word-wrap: normal;
}
td pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
mark,
code,
samp,
kbd {
  padding: .2rem .4rem;
  display: inline-block;
  line-height: 1;
  border-radius: 2px;
}
code {
  background: #f8f8f8;
}
pre code {
  font-size: 100%;
  border: none;
  padding: 0;
  background: none;
  line-height: 24px;
}
var {
  color: rgba(0, 0, 0, 0.5);
}
samp {
  background: #46a9fc;
  color: rgba(255, 255, 255, 0.95);
}
kbd {
  background: #202020;
  color: rgba(255, 255, 255, 0.85);
  white-space: nowrap;
}

/* =Wrapper
-----------------------------------------------------------------------------*/
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/* =Clearfix
-----------------------------------------------------------------------------*/
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/* =Icons
-----------------------------------------------------------------------------*/
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/* =Tables
-----------------------------------------------------------------------------*/
table {
  max-width: 100%;
  width: 100%;
  empty-cells: show;
}
table caption {
  text-transform: uppercase;
  padding: 0;
  color: #000;
  font-size: 11px;
  font-weight: bold;
}
table th,
table td {
  font-size: 94%;
  font-family: $header-font;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  padding: 16px;
  padding-bottom: 15px;
}
table th:first-child,
table td:first-child {
  padding-left: 0;
}
table th:last-child,
table td:last-child {
  padding-right: 0;
}
table tfoot th,
table tfoot td {
  color: rgba(0, 0, 0, 0.5);
}
table.table-stripped td:first-child,
table.table-stripped th:first-child {
  padding-left: 16px;
}
table.table-stripped td:last-child,
table.table-stripped th:last-child {
  padding-right: 16px;
}
table.table-stripped tbody tr:nth-child(odd) td {
  background: #f8f8f8;
}
tr.info {
    color: white;
}

tr.info a,
tr.info a:visited {
    color: white;
}

/* =Labels
-----------------------------------------------------------------------------*/
.label,
.badge {
  font-size: 11px;
  font-family: $font-sans-serif;
  font-weight: normal;
  display: inline;
  line-height: 1;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
  padding: 0.2rem 0.7rem;
  position: relative;
}
.label a,
.badge a {
  color: #000;
  text-decoration: none;
}
.label a:hover,
.badge a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(0, 0, 0, 0.6);
}
.label:empty,
.badge:empty {
  display: none;
}
.label[bold],
.badge[bold] {
  font-weight: bold;
}
.label[outline],
.badge[outline] {
  background: none;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.1rem 0.6rem;
}
.label[outline][bold],
.badge[outline][bold] {
  border-width: 2px;
  padding: 0rem 0.5rem;
}
.label.label-default,
.badge.label-default,
.label.badge-default,
.badge.badge-default {
  background: #e4e4e4;
  color: #000000;
}
.label.label-default[outline],
.badge.label-default[outline],
.label.badge-default[outline],
.badge.badge-default[outline] {
  background: none;
  color: #e4e4e4;
  border-color: #e4e4e4;
}
.label.label-default a,
.badge.label-default a,
.label.badge-default a,
.badge.badge-default a {
  color: #000000;
  text-decoration: none;
}
.label.label-default a:hover,
.badge.label-default a:hover,
.label.badge-default a:hover,
.badge.badge-default a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(0, 0, 0, 0.6);
}
.label.label-primary,
.badge.label-primary,
.label.badge-primary,
.badge.badge-primary {
  background: #2f77d1;
  color: #ffffff;
}
.label.label-primary[outline],
.badge.label-primary[outline],
.label.badge-primary[outline],
.badge.badge-primary[outline] {
  background: none;
  color: #2f77d1;
  border-color: #2f77d1;
}
.label.label-primary a,
.badge.label-primary a,
.label.badge-primary a,
.badge.badge-primary a {
  color: #ffffff;
  text-decoration: none;
}
.label.label-primary a:hover,
.badge.label-primary a:hover,
.label.badge-primary a:hover,
.badge.badge-primary a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(255, 255, 255, 0.6);
}
.label.label-error,
.badge.label-error,
.label.badge-error,
.badge.badge-error {
  background: #d11149;
  color: #ffffff;
}
.label.label-error[outline],
.badge.label-error[outline],
.label.badge-error[outline],
.badge.badge-error[outline] {
  background: none;
  color: #d11149;
  border-color: #d11149;
}
.label.label-error a,
.badge.label-error a,
.label.badge-error a,
.badge.badge-error a {
  color: #ffffff;
  text-decoration: none;
}
.label.label-error a:hover,
.badge.label-error a:hover,
.label.badge-error a:hover,
.badge.badge-error a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(255, 255, 255, 0.6);
}
.label.label-success,
.badge.label-success,
.label.badge-success,
.badge.badge-success {
  background: #0a8754;
  color: #ffffff;
}
.label.label-success[outline],
.badge.label-success[outline],
.label.badge-success[outline],
.badge.badge-success[outline] {
  background: none;
  color: #0a8754;
  border-color: #0a8754;
}
.label.label-success a,
.badge.label-success a,
.label.badge-success a,
.badge.badge-success a {
  color: #ffffff;
  text-decoration: none;
}
.label.label-success a:hover,
.badge.label-success a:hover,
.label.badge-success a:hover,
.badge.badge-success a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(255, 255, 255, 0.6);
}
.label.label-warning,
.badge.label-warning,
.label.badge-warning,
.badge.badge-warning {
  background: #f4d31e;
  color: #000000;
}
.label.label-warning[outline],
.badge.label-warning[outline],
.label.badge-warning[outline],
.badge.badge-warning[outline] {
  background: none;
  color: #f4d31e;
  border-color: #f4d31e;
}
.label.label-warning a,
.badge.label-warning a,
.label.badge-warning a,
.badge.badge-warning a {
  color: #000000;
  text-decoration: none;
}
.label.label-warning a:hover,
.badge.label-warning a:hover,
.label.badge-warning a:hover,
.badge.badge-warning a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(0, 0, 0, 0.6);
}
.label.label-black,
.badge.label-black,
.label.badge-black,
.badge.badge-black {
  background: #000000;
  color: #ffffff;
}
.label.label-black[outline],
.badge.label-black[outline],
.label.badge-black[outline],
.badge.badge-black[outline] {
  background: none;
  color: #000000;
  border-color: #000000;
}
.label.label-black a,
.badge.label-black a,
.label.badge-black a,
.badge.badge-black a {
  color: #ffffff;
  text-decoration: none;
}
.label.label-black a:hover,
.badge.label-black a:hover,
.label.badge-black a:hover,
.badge.badge-black a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(255, 255, 255, 0.6);
}
.label.label-white,
.badge.label-white,
.label.badge-white,
.badge.badge-white {
  background: #ffffff;
  color: #000000;
}
.label.label-white[outline],
.badge.label-white[outline],
.label.badge-white[outline],
.badge.badge-white[outline] {
  background: none;
  color: #ffffff;
  border-color: #ffffff;
}
.label.label-white a,
.badge.label-white a,
.label.badge-white a,
.badge.badge-white a {
  color: #000000;
  text-decoration: none;
}
.label.label-white a:hover,
.badge.label-white a:hover,
.label.badge-white a:hover,
.badge.badge-white a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: rgba(0, 0, 0, 0.6);
}
.badge {
  border-radius: 30px;
  min-width: 17px;
}
.title .label,
.large .label,
h1 .label,
h2 .label,
h3 .label,
h4 .label,
h5 .label,
h6 .label,
.title .badge,
.large .badge,
h1 .badge,
h2 .badge,
h3 .badge,
h4 .badge,
h5 .badge,
h6 .badge {
  vertical-align: middle;
}
h3 .label,
h4 .label,
h5 .label,
h3 .badge,
h4 .badge,
h5 .badge {
  top: -1px;
}
h6 .label,
h6 .badge {
  top: -2px;
}
