/* =Site header
-----------------------------------------------------------------------------*/
.site-header {
    // border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    background-color: $blue-color-dark;

    border-bottom: 1px solid rgba(0,0,0,0.07);
    margin-bottom: 15px;
    padding: 20px 48px 5px 48px;

}

.site-header ul {
    list-style: none;
}

.site-header ul li {
    display: inline-block;
    padding-left: 15px;
}

.site-header ul li a {
  color: $white-color-off;
  border: none;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-weight: 300;
    font-family: $header-font;

    &,
    &:visited {
        color: $white-color-off;
    }
    &:hover {
      text-decoration: none;
      border: none;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/* =Site Footer
-----------------------------------------------------------------------------*/
 .footer-wrapper {
    width: 90%;
    margin: 0 auto;
 }

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    font-size: 14px;
    font-family: $header-font; 
}

.footer-heading {
    // font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    // font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/* =Site Content
-----------------------------------------------------------------------------*/
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
}

.post {
  width: 820px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-header {
    margin-bottom: $spacing-unit;
}

ul#post-categories {
  display: inline;
  list-style: none;
  margin: 0;
}

ul#post-categories li {
  display: inline;
}

ul#post-categories li:after {
  content: ", ";
}

ul#post-categories li:first-child:after {
    content: "";
}
ul#post-categories li:last-child:after {
    content: "";
}

.tag-area {
  position: relative;
  padding: 12px 24px;
  padding-right: 32px;
  line-height: 24px;
  font-size: 94%;
  color: #000000;
  display: block;
  font-weight: normal;
  border-radius: 2px;
  margin-bottom: 24px;
}
.tag-area.alert-primary {
  color: #2f77d1;
  background-color: rgba(47, 119, 209, 0.15);
}
.tag-area.alert-primary a,
.tag-area.alert-primary h5 {
  color: #2f77d1;
}
.tag-area.alert-primary a {
  font-weight: bold;
}
.tag-area.alert-primary a:hover {
  color: #000;
}
.tag-area.alert-primary span.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5rem 1rem;
  opacity: .6;
  cursor: pointer;
}
.tag-area.alert-primary span.close:hover {
  opacity: 1;
}

/* =Fluid Layout
-----------------------------------------------------------------------------*/
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}
.row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}
.row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}
.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}
.row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}
.row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}
.row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}
.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}
.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}
.row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}
.row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-transform: uppercase;
}

.sidebar-nav {
  padding: 9px 0;
  font-family: $header-font;
}

/* =Sidebar
-----------------------------------------------------------------------------*/
.nav li + .nav-header {
  margin-top: 9px;
}
.nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}
.nav-list > li > a,
.nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-size: $small-font-size;
  border: none;
}
.nav-list > li > a {
  padding: 3px 15px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  margin-right: 2px;
}
.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.site-tag a {
    display: inline-block;
    margin-right: 12px;
}

/* =Search
-----------------------------------------------------------------------------*/
#search_input {
  font: 13px/1.6 'Open Sans', Helvetica, sans-serif;
  color: #333;
  padding: 12px 12px 12px 40px;
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  outline: 0;
  margin: 0;
  margin-bottom: 20px;
}

// .post-title {
//     font-size: 42px;
//     letter-spacing: -1px;
//     line-height: 1;

//     @include media-query($on-laptop) {
//         font-size: 36px;
//     }
// }

// .post-content {
//     margin-bottom: $spacing-unit;

//     h1 {
//         font-size: 30px;

//         @include media-query($on-laptop) {
//             font-size: 28px;
//         }
//     }

//     h2 {
//         font-size: 26px;

//         @include media-query($on-laptop) {
//             font-size: 24px;
//         }
//     }

//     h3 {
//         font-size: 22px;

//         @include media-query($on-laptop) {
//             font-size: 20px;
//         }
//     }

//     h4 {
//         font-size: 18px;
//         font-weight: bold;

//         @include media-query($on-laptop) {
//             font-size: 16px;
//         }
//     }
// }

/* =Misc Styles
-----------------------------------------------------------------------------*/
ul#markdown-toc {
  list-style: none;
  background-color: #f9f9f9;
  border: 4px solid #white;
  margin-left: 0;
  padding: 0.4em;
}

ul#markdown-toc li {
  margin-left: 9px;
}

div#TOC {
  background-color: #f0f0f0;
  border: 10px solid white;
  margin: 0.8em;
  margin-right: 0;
  padding: 0.4em;
}

input[type="search"] {
  padding-right: .5em;
  padding-left: .5em;
  margin-bottom: 0;
  border-radius: 15px;
}

.separator {
  border-top: 5px solid #337ab7;
}

hr {
  margin-top: 5ex;
  margin-bottom: 5ex;
}

/* external links */
/* borrowed from Lincoln Mullen */
a[href*="//"]:not([href*="notebook.dev"]) {
  background-position: center right;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtODI2LjQyOSAtNjk4Ljc5MSkiPjxyZWN0IHdpZHRoPSI1Ljk4MiIgaGVpZ2h0PSI1Ljk4MiIgeD0iODI2LjkyOSIgeT0iNzAyLjMwOSIgZmlsbD0iI2ZmZiIgc3Ryb2tlPSIjMDZjIi8+PGc+PHBhdGggZD0iTTgzMS4xOTQgNjk4Ljc5MWg1LjIzNHY1LjM5MWwtMS41NzEgMS41NDUtMS4zMS0xLjMxLTIuNzI1IDIuNzI1LTIuNjg5LTIuNjg5IDIuODA4LTIuODA4LTEuMzExLTEuMzExeiIgZmlsbD0iIzA2ZiIvPjxwYXRoIGQ9Ik04MzUuNDI0IDY5OS43OTVsLjAyMiA0Ljg4NS0xLjgxNy0xLjgxNy0yLjg4MSAyLjg4MS0xLjIyOC0xLjIyOCAyLjg4MS0yLjg4MS0xLjg1MS0xLjg1MXoiIGZpbGw9IiNmZmYiLz48L2c+PC9nPjwvc3ZnPg==);
  padding-right: 13px;
}
