<div class="span3">

  <div class="well sidebar-nav">

  <center><img src="{{ "/images/logo.png" | prepend: site.baseurl }}" class="img-responsive" alt="Jason Heppler's Notebook"/><br/>
  <a href="http://jasonheppler.org">Jason Heppler</a>
  </center>

  <br/>

  <div id="search">
    <form action="http://duckduckgo.com/" method="get">
    <input type="hidden" name="sites" value="notebook.jasonheppler.org" />
      <input type="text" id="search_input" name="q" placeholder="Search" autocomplete="off">
    </form>
  </div>

    <ul class="nav nav-list">
      <li class="nav-header">General</li>
      <li><a href="{{ site.baseurl }}/tagged/">Notes by Tag</a></li>
      <li><a href="{{ site.baseurl }}/archive/">All Notes by Date</a></li>
      <li><a href="{{ site.baseurl }}/archive-alphabetical/">All Notes Alphabetically</a></li>
      <li><a href="{{ site.baseurl }}/essays/">Essays and General Writing</a></li>
      <li><a href="{{ site.baseurl }}/categories/">Categories</a></li>

      <li class="nav-header">Topics and Projects</li>
      <li><a href="{{ site.baseurl }}/reading-notes/">Reading Notes</a></li>
      <li><a href="{{ site.baseurl }}/machines-valley-manuscript/">Machines in the Valley</a></li>
      <li><a href="{{ site.baseurl }}/visualization-humanities/">Visualization in the Humanities</a></li>
      <li><a href="{{ site.baseurl }}/open-research/">Open Research</a></li>
      <li><a href="{{ site.baseurl }}/spatial-history/">Spatial History</a></li>

      <li class="nav-header">Meta</li>
      <li><a href="{{ site.baseurl }}/project-news/">Notebook News</a></li>
      <li><a href="{{ site.baseurl }}/about/">About Me</a></li>
      <li><a href="{{ site.baseurl }}/notebook/">About This Notebook</a></li>
    </ul>
  </div>

</div> <!-- / span3 -->