---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}{% if page.category %} • {{ page.category }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <p class="text-info">
    <table class="table table-condensed" id="post-info">
      <tr class="info">
        <td><small><i class="glyphicon glyphicon-calendar"></i>&nbsp;Created: {{ page.date | date_to_string }}</small></td>
        <td><small><i class="glyphicon glyphicon-calendar"></i>&nbsp;Modified: {{ page.path | prepend:'_posts/' | git_modified | date_to_string }}</small></td>
        <td><small><i class="fa fa-github-square"></i>&nbsp;<a href="https://github.com/{{site.author.github_username}}/{{ site.repo }}/commit/{{ page.path }}">History</a></small></td>
        <td><small><a href="javascript:window.print()"><i class="glyphicon glyphicon-print"></i>&nbsp;Print</a></small></td>
        <td><small><a href="{{ page.url | prepend: site.baseurl }}"><i class="glyphicon glyphicon-link"></i>Permalink</a></small></td>
      </tr>
    </table>
    </p>

<div class="tag-area alert-primary">
  <ul id="post-categories">
    <li><i class="glyphicon glyphicon-tags"></i>&nbsp;Tags: </li>
  {% for tag in page.tags %}
    <li class="categorylist"><a href='/tagged/#{{ tag | downcase | replace: ' ', '-' }}'>{{ tag }}</a></li>
  {% endfor %}
  </ul>
</div>

</div>
