---
layout: default
date: 2015-11-14 05:56:38
---

  {% markdown front.md %}
  
  <h3>Active Projects</h3>
  
  <ul>
  {% assign projects_sorted = site.project | sort: 'status' %}
  {% for project in projects_sorted %}
    <li>
      {% if project.status == "Active" %}
         <a class="project-link" href="{{ project.url | prepend: site.baseurl | prepend: site.url }}">
          {{ project.title }}
        </a>: {{ project.description }}
      {% endif%}
    </li>
  {% endfor %}
</ul>

  <h3 class="page-heading">Recent Updates</h3>

  <table class="table-stripped">
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Category</th>
    </tr>
    {% assign notes_sorted = site.note | sort: 'git_modified' | reverse %}
    {% for note in notes_sorted limit:10 %}

      <td width="20%">{{ note.git_modified | date_to_string }}</td>
      <td width="65%"><a href="{{ note.url | prepend: site.baseurl | prepend: site.url }}">{{note.title}}</a></td>
      <td width="10%"><span class="label label-success">{{note.categories}}</span></td>
      </tr>

    {% endfor %}
    <tr>
    <td></td>
    <td><a href="{{ "/archive/" | prepend: site.baseurl }}">All notes &rarr;</a></td>
    </tr>
  </table>

  <hr class="separator">

  <i class="fa fa-github-square"></i> <a href="http://github.com/hepplerj">Github Activity</a>

{% github_feed hepplerj, 8 %}

  <hr>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
