---
layout: default
date: 2015-11-14 05:56:38
---

  {% markdown front.md %}
  
  <h3>Active Projects</h3>
  
  <ul>
  {% assign projects_sorted = site.project | sort: 'status' %}
  {% for project in projects_sorted %}
    <li>
      {% if project.status == "Active" %}
         <a class="project-link" href="{{ project.url | prepend: site.baseurl | prepend: site.url }}">
          {{ project.title }}
        </a>: {{ project.description }}
      {% endif%}
    </li>
  {% endfor %}
</ul>

  <h3 class="page-heading">Recent Essays and Posts</h3>

  <table class="table-stripped">
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Category</th>
    </tr>
  {% for post in site.categories["Essays"] limit:5 %}
    <tr>
      <td width="15%;">{{ post.date | date_to_string }}</td>
      <td width="70%;"><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></td>
      <td style="width: 15%;"><span class="label label-success">{{post.categories}}</span></td>
    </tr>

  {% endfor %}
  </table>

  <h3 class="page-heading">Recent Notes</h3>

  <table class="table-stripped">
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Category</th>
    </tr>
    {% assign nonessays = site.posts | posts_without_essays %}
    {% for post in nonessays limit:10 | sort:'date' %}

      <td width="15%;">{{ post.date | date_to_string }}</td>
      <td width="70%;"><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></td>
      <td style="width: 15%;"><span class="label label-success">{{post.categories}}</span></td>
      </tr>

    {% endfor %}
    <tr>
    <td></td>
    <td><a href="{{ "/archive/" | prepend: site.baseurl }}">All notes &rarr;</a></td>
    </tr>
  </table>

  <hr class="separator">

  <i class="fa fa-github-square"></i> <a href="http://github.com/hepplerj">Github Activity</a>

  {% github_feed hepplerj, 8 %}

  <hr>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
