---
layout: default
permalink: /tagged/
title: Tagged Notes
---

<h2>{{page.title}}</h2>

<div class="tag-page">
<p>Click on a tag to see relevant list of notes.</p>

{% comment %}map, flatten and sort{% endcomment %}
{% assign tags =  site.note | map: 'tags' | join: ','  | split: ',' | sort %}
{% assign previousTag = "" %}
{% assign counter = 0 %}

{% for currentTag in tags %}

  {% comment %}first loop : initializing previousTag{% endcomment %}
  {% if previousTag == "" %}
    {% assign previousTag = currentTag %}
  {% endif %}

  {% if currentTag == previousTag %}
    {% assign counter = counter | plus: 1 %}
  {% else %}
  <span class="site-tag">
      <span style="font-size: {{ counter | times: 3 | plus: 60  }}%">
        <a href="/tagged/#{{ previousTag | downcase | replace: " ", "-"}}">{{ previousTag }} ({{ counter }})</a>
      </span>
    </span>
    {% assign counter = 1 %}
  {% endif %}

  {% comment %}last loop : flushing what's left to print{% endcomment %}
  {% if forloop.last %}
  <span class="site-tag">
  <span style="font-size: {{ counter | times: 3 | plus: 60  }}%">
    <a href="/tagged/#{{ currentTag | downcase | replace: " ", "-"}}">{{ currentTag | replace: "-", " " }} ({{ counter }})</a>
  </span>
  </span>
  {% endif %}

  {% assign previousTag = currentTag %}

{% endfor %}

 <hr class="separator">

 <h3>Tags</h3>

 {% assign tags =  site.note | map: 'tags' | join: ','  | split: ',' | uniq %}
{% for tag in tags %}
<h4><a name="{{tag | downcase | replace:" ","-" }}"></a><a class="internal" href="/tagged/#{{tag | downcase | replace:" ","-" }}">{{ tag | downcase }}</a></h4>
  <table class="table-stripped">
    {% for note in site.note %}
      {% if note.tags contains tag %}
      <tr>
        <td width="20%"><span title="{{ note.date | date_to_string }}">{{ note.date | date_to_string }}</span></td>
        <td width="75%"><a href="{{ site.baseurl }}{{ note.url }}">{{ note.title }}</a></td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
  <br/>
{% endfor %}
</div>